body {
  background-image: url("images/index/test.jpg");
  background-position: 50% 15px;
  background-repeat: no-repeat;
  background-color: #f1e5d9;
  height: 100%;
  background-size: 1200px;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-family: "adobe-garamond-pro", serif;
  color: #392318;
  opacity: 80%;
  font-weight: lighter;
}

p {
  font-family: "adobe-garamond-pro", serif;
  font-size: 20px;
  color: #392318;
  opacity: 80%;
}

#wrapper {
  position: relative;
  height: 790px;
  width: 1168px;
  margin: 0 auto;
  margin-top: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map-one {
  position: absolute;
  top: 11.5%;
  left: 11%;
  width: 50px;
  filter: drop-shadow(0px 5px 5px #392318);
  transition: filter .3s ease-in-out;

}

#map-one:hover {
  filter: drop-shadow(0px 3px 10px #960000);
}

#map-two {
  position: absolute;
  top: 19%;
  left: 36.2%;
  width: 50px;
  filter: drop-shadow(0px 5px 5px #392318);
  transition: filter .3s ease-in-out;
}

#map-two:hover {
  filter: drop-shadow(0px 3px 10px #960000);
}

#map-three {
  position: absolute;
  top: 73%;
  left: 53%;
  width: 50px;
  filter: drop-shadow(0px 5px 5px #392318);
  transition: filter .3s ease-in-out;
}

#map-three:hover {
  filter: drop-shadow(0px 3px 10px #960000);
}

#map-four {
  position: absolute;
  top: 37%;
  left: 47%;
  width: 50px;
  filter: drop-shadow(0px 5px 5px #392318);
  transition: filter .3s ease-in-out;
}

#map-four:hover {
  filter: drop-shadow(0px 3px 10px #960000);
}

#map-five {
  position: absolute;
  top: 67%;
  left: 36.5%;
  width: 50px;
  filter: drop-shadow(0px 5px 5px #392318);
  transition: filter .3s ease-in-out;
}

#map-five:hover {
  filter: drop-shadow(0px 3px 10px #960000);
}

#toc {
  position: absolute;
  top: 5%;
  left: 75%;
}

#toc-one {
  position: absolute;
  top: 26%;
  left: -10%;
  width: 50px;
}

#toc-three {
  position: absolute;
  top: 45%;
  left: -10%;
  width: 50px;
}

#toc-four {
  position: absolute;
  top: 65%;
  left: -10%;
  width: 50px;
}

#toc-five {
  position: absolute;
  top: 85%;
  left: -10%;
  width: 50px;
}